body {
        margin-left: auto; 
        margin-right: auto; 
        margin-bottom: 2em;
        padding: 2px 1em 2px 1em;
        max-width: 45em;   
        background-color: #FFFFFF;
        font-family: calibri, helvetica, arial, sans-serif;
}

img {
        display: block;
        float: left;
        height: 20%;
        width: 20%;
        margin-right: right;
        margin-left: auto
}