body {
        margin-left: auto; 
        margin-right: auto; 
        padding: 2px 1em 2px 1em;
        max-width: 45em;   
        background-color: #FFFFFF;
        font-family: calibri, helvetica, arial, sans-serif;
}

.id {
        /*display: block;*/
        float: left;
        height: 15%;
        width: 15%;
        margin-right: right;
        margin-left: auto
}